<div *ngIf="hero" class="hero-details-container">

    <h2>{{ hero.name | uppercase }} Details</h2>

    <div class="hero-id">
      
        <span>id: {{ hero.id }}</span>
          
    </div>

    <div class="hero-name">
      
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
      
    </div>

    <button class="save" (click)="save()">SAVE</button>

    <button class="delete" (click)="delete(hero)">DELETE</button>

    <button class="back" (click)="goBack()">BACK</button>

</div>
